.section-ptb {
  padding: 60px 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-ptb {
    padding: 60px 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-ptb {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 767px) {
  .section-ptb {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 479px) {
  .section-ptb {
    padding: 60px 0;
  }
}

.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
  border-right: 1px solid #ebebeb;
  padding: 30px 20px;
}
.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info p {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
    border-right: medium none;
    padding: 0 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
    border-right: medium none;
    padding: 0 20px;
  }
}

.dashboard-upper-info {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  margin-bottom: 20px;
}
.dashboard-upper-info a.view-cart {
  background: #c89979;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 12px;
  /* text-transform: capitalize; */
}
.dashboard-upper-info a.view-cart:hover {
  background: #000000;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dashboard-upper-info {
    border-bottom: medium none;
    border-top: medium none;
  }
}
@media only screen and (max-width: 767px) {
  .dashboard-upper-info {
    border-bottom: medium none;
    border-top: medium none;
  }
}
.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
  border-right: 1px solid #ebebeb;
  padding: 30px 20px;
}
.dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info p {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
    border-right: medium none;
    padding: 0 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  .dashboard-upper-info [class*="col-"]:not(:last-child) .d-single-info {
    border-right: medium none;
    padding: 0 20px;
  }
}

.dashboard-upper-info {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  margin-bottom: 20px;
}
.dashboard-upper-info a.view-cart {
  background: #c89979;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 12px;
  /* text-transform: capitalize; */
}
.dashboard-upper-info a.view-cart:hover {
  background: #000000;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dashboard-upper-info {
    border-bottom: medium none;
    border-top: medium none;
  }
}
@media only screen and (max-width: 767px) {
  .dashboard-upper-info {
    border-bottom: medium none;
    border-top: medium none;
  }
}